body {
  background-color: black;
}

h1 {
  color: grey;
  margin-left: 20px;
  font-family: "Brush Script MT", cursive;
  text-shadow: 2px 2px 5px blue;
}

p {
  color: grey;
  margin-left: 20px;
  font-family: Garamond, serif;
}

body {
	background-image: url('images/black_background.jpg');
	background-color: black;
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
}
